/* CSS para usuarios */
#usuario{
	background-color: rgba(0,0,0,.1);
}
  /* header */
  .contenidoabajo{

	background-color: #C2C2C2;
	}
  .header {
	background-color: #fff;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	position: fixed;
	width: 100%;
	z-index: 3;
  }
  
  .header .menu {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
  }
  
  .header .li .a {
	display: block;
	padding: 20px 20px;
	border-right: 1px solid #f4f4f4;
	text-decoration: none;
  }
  
  .header .li .a:hover,
  .header .menu-btn-user:hover {
	background-color:black !important;
  }
  
  /* .header .logo {
	display: block;
	float: left;
	font-size: 2em;
	padding: 10px 20px;
	text-decoration: none;
  } */
  
  /* menu */
  
  .header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
	cursor: pointer;
	display: inline-block;

	padding: 28px 20px;
	position: relative;
	user-select: none;
  }
  
  .header .menu-icon .navicon {
	background: #333;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
	background: #333;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
  }
  
  .header .menu-icon .navicon:before {
	top: 5px;
  }
  
  .header .menu-icon .navicon:after {
	top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
	display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
	max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
  }

/*Poner el header arriba del todo*/
.header{
	top:1px;
	background-color: black !important;
}


#main-header {
    background-color: black;
    font-size: 20px;
    height: 70px;
   
    text-decoration: transparent;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
header .li .a{
	background-color: black;
	color: white !important;
	display: none;
	
}
.contenidoabajo{
    margin: 0;
    padding-top: 1px;
}
nav ul {
	padding: 0;
	list-style: none;
	padding-right: 20px;
}
	
nav ul li {
	display: inline-block;
	line-height: 70px;
}
			
nav ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
	color: white;
	position: relative;
}
nav ul li a:hover {
	text-decoration: none;
	color: white;
	
}

/* .empresa{
    color: white !important;
}
.cerrarSesion{
    float: right;
    color: white !important;
}
.nombreUser{
    color: white !important;
}  */
.a{
	color: white;
}
.container-fluid{
	margin-top: -30px;;
	width: 100% !important;
	height: 80vh;

	/* border-style:solid; */
	border-color:black;
}
.to-do{
	background-color:#FFF8DC;
	height: 80vh;
	
}
.cancel{
	background-color:#FFF8DC;
	height: 80vh;
	
}
.finish{
	background-color:#FFF8DC;
	height: 80vh;
	
}
.doing{
	background-color:#FFF8DC;height: 80vh;

	

}
#incidencia{
	margin-top: 80px;
    margin-left: 50%;
}
.main-card-incidencia{
	margin-bottom: 20px;
}
.title-estados{
	text-align: center;
    text-transform: uppercase;
		padding-top: 10px;
		color: black;
}
/********Card Style*********/
.card1{
	/* border: 1px solid black; */
	margin-bottom: 10px;
	border-radius: 21px;
}
.w-100{
	border-radius: 30px !important;
}
.card2{
	/* border: 1px solid red; */
	margin-bottom: 10px;
	border-radius: 21px;
}
.card3{
	/* border: 1px solid blue; */
	margin-bottom: 10px;
	border-radius: 21px;
}
.card{
	border: rgba(0,0,0,.125) !important;
}
.card4{
	/* border: 1px solid green; */
	margin-bottom: 10px;
	border-radius: 21px;
}
.Itext{
	text-transform: uppercase;
}
.card1Text{
	margin-top:15px !important;
}
.cardFecha{
	padding-left: 60px !important;
}
.card-body{
	padding-bottom: 0px !important;
}
.IDescripcion:hover{
	height: 100px;
	transition: 0.8s;
}
.icon-info{
	text-align: center;
}
.estadoI{
	
}
.estado-color-pendiente{
	top: 0px;
	float: right;
	width: 6px;
	height:65%;
	border-radius: 15px;
	background-color: grey;
}
.estado-color-progreso{
	top: 0px;
	float: right;
	width: 6px;
	height:65%;
	border-radius: 15px;
	background-color: blue;
}
.estado-color-finalizada{
	top: 0px;
	float: right;
	width: 6px;
	height:65%;
	border-radius: 15px;
	background-color: green;
}
.estado-color-cancelada{
	top: 0px;
	float: right;
	width: 6px;
	height:65%;
	border-radius: 15px;
	background-color: red;
}
#abrir{
	display:none;
}
#abrir:hover{
	height: 30px;
	 transition: 0.8ms;
}
#abrir-progreso{
	display:none;
}

#abrir-cancelada{
	display:none;
}
#abrir-finalizada{
	display:none;
}
/************/
.TAlta{
	background-color: red;
}
.TBaja{
	background-color: green;
}
.TMedio{
	background-color: yellow;
}